.mat-mdc-table {

    background-color: rgb(255, 255, 255);
}
.tabler {
    background-color: #E5E2E2 !important;
}
.mat-elevation-z8,.tableborder{
    border: 1px solid #D9CBCB;
}
.tableborderin{
    border-right: 1px solid #D9CBCB;
    border-top: 1px solid #D9CBCB;
    border-bottom: 1px solid #D9CBCB;
}
.table-container {
    max-height: 400px; 
    overflow-y: auto;   
  }
  .p-l{
    margin-left: 15px;
  }
  .third-row {
    background-color: #1fadf9;  
  }