<div class="p-l table-container">
<div class="mat-elevation-z8">
    <table mat-table class="tableborder" [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
       <th class ="tabler tableborderin"mat-header-cell *matHeaderCellDef> No. </th>
        <td class ="tableborderin"mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> Name </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> Weight </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> Symbol </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
      <!-- New Columns -->
      <ng-container matColumnDef="lorem">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> lorem </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.lorem}} </td>
      </ng-container>
      <ng-container matColumnDef="ipsum">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> ipsum </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.ipsum}} </td>
      </ng-container>
      <ng-container matColumnDef="loremm">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> loremm </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.loremm}} </td>
      </ng-container>
      <ng-container matColumnDef="ipsumm">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> ipsumm </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.ipsumm}} </td>
      </ng-container>
      <ng-container matColumnDef="loremmm">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> loremmm </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.loremmm}} </td>
      </ng-container>
      <ng-container matColumnDef="ipsummm">
       <th class ="tabler tableborder"mat-header-cell *matHeaderCellDef> ipsummm </th>
        <td class ="tableborder"mat-cell *matCellDef="let element"> {{element.ipsummm}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="{'third-row': i === 2}"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  </div>