<div class="card card-1">
 <div class="col-md-12">
    <div class="row">
        <div class="col-md-3 maeginClass">
            <p>
                <input type="radio" id="test1" name="radio-group" checked>
                <label for="test1">Apple</label>
              </p>
        </div>
        <div class="col-md-3">
            <p>
                <input type="radio" id="test2" name="radio-group">
                <label for="test2">Peach</label>
              </p>
        </div>
        <div class="col-md-6 d-flex">
            <label class="switch-btn">
              <p> Expand</p>
                <input type="checkbox" checked>
                <span></span>
               
              </label>
        </div>
        <div class="col-md-12 overflowVessel" >
        <div class="paddingClass">
        
          <div class="bigCarret">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
          <p class="m-l">LoremIpsum</p>
         
          </div>
          <div class="smallCarret">
            <div class="small">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <p class="m-l">LoremIpsum</p>
            </div>
            <div class="small">
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <p class="m-l">LoremIpsum</p>
              </div>
              <div class="small">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <p class="m-l">LoremIpsum</p>
                </div>
                <div class="small">
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <p class="m-l">LoremIpsum</p>
                  </div>
                  <div class="small">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <p class="m-l">LoremIpsum</p>
                    </div>
                    <div class="small">
                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                      <p class="m-l">LoremIpsum</p>
                      </div>
                      <div class="small">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        <p class="m-l">LoremIpsum</p>
                        </div>
                        <div class="small">
                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                          <p class="m-l">LoremIpsum</p>
                          </div>
                          <div class="small">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <p class="m-l">LoremIpsum</p>
                            </div>
                            <div class="small">
                              <i class="fa fa-caret-right" aria-hidden="true"></i>
                              <p class="m-l">LoremIpsum</p>
                              </div>
                              <div class="small">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                <p class="m-l">LoremIpsum</p>
                                </div>
                                <div class="small">
                                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                                  <p class="m-l">LoremIpsum</p>
                                  </div>
                                  <div class="small">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    <p class="m-l">LoremIpsum</p>
                                    </div>
                                    <div class="small">
                                      <i class="fa fa-caret-right" aria-hidden="true"></i>
                                      <p class="m-l">LoremIpsum</p>
                                      </div>
                                      <div class="small">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        <p class="m-l">LoremIpsum</p>
                                        </div>
                                        <div class="small">
                                          <i class="fa fa-caret-right" aria-hidden="true"></i>
                                          <p class="m-l">LoremIpsum</p>
                                          </div>
                                          <div class="small">
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                            <p class="m-l">LoremIpsum</p>
                                            </div>
                                            <div class="small">
                                              <i class="fa fa-caret-right" aria-hidden="true"></i>
                                              <p class="m-l">LoremIpsum</p>
                                              </div>
                                              <div class="small">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                <p class="m-l">LoremIpsum</p>
                                                </div>
                                                <div class="small">
                                                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                  <p class="m-l">LoremIpsum</p>
                                                  </div>
            </div>
            
          </div>
            </div>
    </div>
 </div>



</div>